## Kopeeri failiks keystore.properties ja täida oma võtme andmetega.
## Võtmehoidla loomine:
##   keytool -genkeypair -keystore a5s-release.jks -alias a5s \
##           -keyalg RSA -keysize 4096 -validity 10000
storeFile=a5s-release.jks
storePassword=
keyAlias=a5s
keyPassword=
